@mixin flex($justify, $align, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
@mixin grid($start, $end) {
  display: grid;
  grid-column-start: $start;
  grid-column-end: $end;
}

$main_color: #485681;
$highlight_color: white;
$bg_color: thistle;

%head {
  text-align: center;
  font-size: 75px;
  color: $bg_color;
}
